@using Aiursoft.Tracer.Services.FileStorage
@model Aiursoft.Tracer.Views.Shared.Components.FileUpload.FileUploadViewModel
@inject IViewLocalizer Localizer
@inject StorageService Storage
@inject IHtmlGenerator HtmlGenerator
@{
    var fileInputId = $"file-input-{Model.UniqueId}";
    var progressId = $"progress-{Model.UniqueId}";
    var progressbarId = $"progressbar-{Model.UniqueId}";

    var extensionAttributes = " ";
    if (!string.IsNullOrWhiteSpace(Model.AllowedExtensions))
    {
        extensionAttributes += $"data-allowed-file-extensions=\"{Model.AllowedExtensions}\" ";
    }
    var defaultValue = Model.AspFor.Model as string;
    if (!string.IsNullOrWhiteSpace(defaultValue))
    {
        extensionAttributes += $"data-default-file=\"{Storage.RelativePathToInternetUrl(defaultValue, Model.IsVault)}\" ";
    }
    if (Model.MaxSizeInMb > 0)
    {
        extensionAttributes += $"data-max-file-size=\"{Model.MaxSizeInMb}M\"";
    }

    var hiddenInputTag = HtmlGenerator.GenerateTextBox(
        ViewContext,
        Model.AspFor.ModelExplorer,
        Model.AspFor.Name,
        Model.AspFor.Model,
        format: null,
        htmlAttributes: new { style = "width:0;height:0;padding:0;border:none;" });
}

<input
    form="fakeForm"
    type="file"
    id="@fileInputId"
    class="dropify"
    data-show-remove="false"
    @Html.Raw(extensionAttributes) />
<div id="@progressId" class="progress mb-3 mt-3 d-none">
    <div id="@progressbarId" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
</div>
@hiddenInputTag

<script type="module">
    import Uploader from "/scripts/uploader.js";
    window.addEventListener('load', function () {

        const fileInput = $(`#@fileInputId`);
        const progress = $(`#@progressId`);
        const progressbar = $(`#@progressbarId`);

        const addressInput = $(`[name="@Model.AspFor.Name"]`);

        new Uploader({
            fileInput: fileInput,
            progress: progress,
            progressbar: progressbar,
            addressInput: addressInput,

            sizeInMb: @Model.MaxSizeInMb,
            validExtensions: ('@Model.AllowedExtensions' || '').split(' ').filter(Boolean),
            uploadUrl: '@Model.UploadEndpoint'
        }).init({
            messages: {
                'default': @Json.Serialize(Localizer["Drag and drop a file here or click"].Value),
                'replace': @Json.Serialize(Localizer["Drag and drop or click to replace"].Value),
                'remove':  @Json.Serialize(Localizer["Remove"].Value),
                'error':   @Json.Serialize(Localizer["Ooops, something wrong happended."].Value)
            },
            error: {
                'fileSize': @Json.Serialize(Localizer["The file size is too big ({{ value }} max)."].Value),
                'minWidth': @Json.Serialize(Localizer["The image width is too small ({{ value }}px min)."].Value),
                'maxWidth': @Json.Serialize(Localizer["The image width is too big ({{ value }}px max)."].Value),
                'minHeight': @Json.Serialize(Localizer["The image height is too small ({{ value }}px min)."].Value),
                'maxHeight': @Json.Serialize(Localizer["The image height is too big ({{ value }}px max)."].Value),
                'imageFormat': @Json.Serialize(Localizer["The image format is not allowed ({{ value }} only)."].Value),
                'fileExtension': @Json.Serialize(Localizer["The file is not allowed ({{ value }} only)."].Value),
            }
        });
    })
</script>

@* @Localizer["Drag and drop a file here or click"] *@
@* @Localizer["Drag and drop or click to replace"] *@
@* @Localizer["Remove"] *@
@* @Localizer["Ooops, something wrong happended."] *@
@* @Localizer["The file size is too big ({{ value }} max)."] *@
@* @Localizer["The image width is too small ({{ value }}px min)."] *@
@* @Localizer["The image width is too big ({{ value }}px max)."] *@
@* @Localizer["The image height is too small ({{ value }}px min)."] *@
@* @Localizer["The image height is too big ({{ value }}px max)."] *@
@* @Localizer["The image format is not allowed ({{ value }} only)."] *@
@* @Localizer["The file is not allowed ({{ value }} only)."] *@
